# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
results/
.env
experiments/nci/help.txt
data/adult/
data/adolescent/
data/object_save/
data/csv_saves/
data/raw_csv/
data/summaries/
tool_scripts/data_cleaning/