agent: 'td3_bc'
debug: False

n_rnn_hidden: 16
n_rnn_layers: 1
rnn_directions: 1
bidirectional: False

# parameters for RL discounting strategies
return_type: 'average'   # discount | average; is average gamma and lamda -> 1.
gamma: 0.99
lambda_: 0.95

# parameters for the RL rollout
normalize_reward: True  # reward received is normalised
shuffle_rollout: True  # rollout trajectory data is shuffled
replay_buffer_size: 1024

# ppo parameters
entropy_coef: 0.001
grad_clip: 20
eps_clip: 0.1
target_kl: 0.01

# train
n_step: 8192
max_epi_length: 2880
n_training_workers: 16
total_interactions: 6400000  # total number of interactions the agent will train for #800000
n_interactions_lr_decay: 4000000

# training parameters
pi_lr: 1.5e-4 
vf_lr: 1.5e-4

batch_size : 8192
mini_batch_size: 256
n_pi_epochs: 5

# test
n_testing_workers: 20
max_test_epi_len: 288  # testing conducted for 1 day: 12 steps/hr * 24 hours

# validation
n_val_trials: 50 #500

#data source
data_type: "simulated" #simulated | clinical
data_protocols: ["evaluation","training"] #None defaults to all
data_algorithms : [] #None defaults to all #"G2P2C","AUXML","BBI","PPO","TD3"
use_all_interactions : false

n_handcrafted_features: -10 #FIXME
n_features: 32
use_handcraft: 0

n_hidden: 16
noise_model: "normal_dist"
noise_std: 0.10
noise_application: 0
target_action_std: 0.1
target_action_lim: 0.3
soft_tau: 0.005

alpha : 0.25


